<h1>Login</h1>
<form action="/login" method = "POST">

    USER <input type = "text" name = "username">
    PASSWORD <input type = "text" name = "password">
    <button type = "submit">submit</button>

</form>